<form nz-form [formGroup]="validateForm">
    <div *ngIf="actionType === 'create' || actionType === 'edit'; else justView">
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Province Code</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="codeErrorTpl">
          <input nz-input formControlName="provinceCode" placeholder="Enter here..." />
          <ng-template #codeErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">This is required!</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Province Name</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="nameErrorTpl">
          <input nz-input formControlName="provinceName" placeholder="Enter here..." />
          <ng-template #nameErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">This is required!</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
          <nz-form-label [nzSpan]="7" nzRequired>Is-active</nz-form-label>
          <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="emailErrorTpl">
              <nz-switch formControlName="state" nzCheckedChildren="Yes" nzUnCheckedChildren="No"></nz-switch>
            <!-- <input nz-input formControlName="state" placeholder="Status" /> -->
            <ng-template #emailErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">This is required!</ng-container>
            </ng-template>
          </nz-form-control>
      </nz-form-item>
    </div>

    <ng-template #justView>
      
    </ng-template>

    <div *nzModalFooter>
        <nz-form-control>
            <button *ngIf="actionType === 'create'" nz-button nzType="primary" type="submit" [disabled]="!validateForm.valid" (click)="submitCreate()">Save </button>
            <button *ngIf="actionType === 'edit'" nz-button nzType="primary" type="submit" [disabled]="!validateForm.valid" (click)="submitEdit()">Save changes</button>
            <button *ngIf="actionType === 'delete'" nz-button nzType="primary" nzDanger type="submit" [disabled]="!validateForm.valid" (click)="submitDelete()">Confirm delete</button>
            <button *ngIf="actionType === 'create'" nz-button (click)="resetForm()">Reset</button>
            <button nz-button (click)="closeMe() ">Close</button>
        </nz-form-control>
    </div>
  </form>