<nz-card nzTitle="{{title}}" [nzExtra]="options">
    <nz-input-group [nzSuffix]="suffixIconSearch">
        <input type="text" nz-input placeholder="Search {{title | lowercase}}" name="search" [(ngModel)]="search" />
    </nz-input-group>
    <div class="loc-content">
        <ng-container *ngIf="loading === false; else lazyLoad">
            <nz-list nzSize="small">
                <nz-list-item *ngFor="let item of list | filter: search" class="t-list" [ngClass]="{'active-item': item.active}">
                    <div nz-row style="width: 100%;">
                        <div nz-col nzFlex="auto" (click)="click(item)" [ngClass]="{'clickable': clickable}" style="  white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;">
                            {{item.name}}
                        </div>
                        <div nz-col nzFlex="60px" style="text-align: right;">
                            <span  class="pointer" nz-icon nzType="edit" nzTheme="outline" (click)="editItem(item)"></span>
                            <nz-divider nzType="vertical"></nz-divider>
                            <span  class="pointer" nz-icon nzType="delete" nzTheme="outline" style="color: red"
                            nz-popconfirm
                            nzPopconfirmTitle="Are you sure you want to delete {{item.name}}"
                            [nzBeforeConfirm]="beforeConfirm"
                            (nzOnConfirm)="confirm(item)"
                            (nzOnCancel)="cancel()"
                            ></span>
                        </div>
                    </div>
                </nz-list-item>
            </nz-list>

            <div *ngIf="list.length === 0">
                <nz-empty></nz-empty>
            </div>
        </ng-container>
    </div>
</nz-card>

<ng-template #suffixIconSearch>
    <span nz-icon nzType="search"></span>
</ng-template>

<ng-template #options>
    <nz-button-group>
        <button (click)="addItem()" [disabled]="disableAdd" class="pointer" nz-button style="padding-left: 8px; padding-right: 8px;" nzTooltipTitle="Add {{title | lowercase}}" nzTooltipPlacement="topLeft" nz-tooltip><span nz-icon nzType="plus" nzTheme="outline"></span></button>
        <button (click)="reloading()" class="pointer" nz-button style="padding-left: 8px; padding-right: 8px;" nzTooltipTitle="Reload {{title | lowercase}}" nzTooltipPlacement="topLeft" nz-tooltip><span nz-icon nzType="reload" nzTheme="outline"></span></button>
    </nz-button-group>
</ng-template>

<ng-template #lazyLoad>
    <nz-skeleton ></nz-skeleton>
    <nz-skeleton ></nz-skeleton>
</ng-template>